body {
    font-family: Arial, Helvetica, sans-serif;font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(180.2deg, rgb(30, 33, 48) 6.8%, rgb(74, 98, 110) 131%);
    color: white;
    text-align: center;
}

h1,
h2 {
    position: relative;
}

h1 {
    font-size: 90px;
    margin: 70px;
}

h3 {
    padding: 20px;
    margin-top: 20px;
}

h4 {
    margin: 40px;
    padding: 20px;
    text-transform: uppercase;
    border: solid white 1px;
    border-radius: 10px;
}

p {
    padding: 10px;
    margin: 30px 0;
}

footer {
    font-size: 20px;
    margin: 40px;
}

footer a {
    padding: 10px;
    color: white;
    text-decoration: none;
}

img {
    border-radius: 10px;
}

.hero {
    padding: 180px ;
    margin: 20px 0;
    border-radius: 30px;
    font-weight: bold;
    position: relative;
}

.hero::before{
    content: "";
    background-image: url(images/ireland.jpeg);
    position: absolute;
    background-size: cover;
    opacity: 60%;
    top: 0px ;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.btn {
    margin: 15px 0 40px 0;
}

.myPicture {
    max-width: 80%;
}

.certificates-section {
    margin: 40px;
}

.carousel {
    max-width: 70%;
    margin: 0 auto;
}
