:root {
    --main-branding-color : rgb(98, 43, 228);
}

body {
    font-family: Arial, Helvetica, sans-serif;font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(180.2deg, rgb(30, 33, 48) 6.8%, rgb(74, 98, 110) 131%);
    color: white;
    text-align: center;
}

h1,
h2 {
    position: relative;
}

h1 {
    font-size: 90px;
    margin-top: 80px;
}

h2 {
    margin: 40px;
}

h3 {
    padding: 20px;
    margin: 20px 30px;
}

h4 {
    margin: 40px;
    padding: 20px;
    text-transform: uppercase;
    border: solid white 1px;
    border-radius: 10px;
}

h5 {
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 20px;

}

 ul {
     padding: 0px;
 }

footer {
    font-size: 15px;
    margin-top: 120px;
}

img {
    border-radius: 10px;
}

a {
    color: white;
}

a:hover {
    color: var(--main-branding-color);
    transition: 0.5s;
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: var(--main-branding-color);
}

.nav-link:hover {
    color: var(--main-branding-color);
}

.hero {
    padding: 170px ;
    margin: 50px 0;
    font-weight: bold;
    position: relative;
}

.hero::before{
    content: "";
    background-image: url(images/ireland.jpeg);
    position: absolute;
    background-size: cover;
    opacity: 60%;
    top: 0px ;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.button-main {
    color: white;
    font-size: 15px;
    background: rgba(0, 0, 0, 0.351);
    border: 1px solid white;
    border-radius: 10px;
    padding: 8px 123px;
    margin: 0 40px;
    box-shadow: 8px 5px 5px rgb(24, 23, 23);

}

.button-main:hover {
    color: var(--main-branding-color);
    background: rgba(0, 0, 0, 0.547);
    transition: 0.5s;
    border: 2px solid var(--main-branding-color);
    padding: 9px 151px;
}

.presentation h1 {
    margin-top: 150px;
}

.presentation img {
    margin-top: 100px;
}

.presentation-paragraph {
    padding: 10px;
    margin: 50px 0;
}

.certificates-section {
    margin: 40px;
}

.carousel {
    max-width: 70%;
    margin: 0 auto;
}

.work-tittle {
    margin-bottom: 50px;

}
.cards {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;    
}

.card {
    display: flex;
    grid-template-rows: max-content 200px 1fr;
    background: transparent;
    padding: 10px;
    border: 2px solid white;
    margin: 1px auto;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: 1px white solid;
}

.card p {
    margin: 10px;
}

.contacts {
    
    padding: 20px;
}

.email-button {
    margin-top: 20px;
}

.ul-main {
    list-style-type: none;
    margin: 50px 0;
}

.social-links {
    margin: 0px;
    padding: 15px 5px;
}

.social-links a {
    color: white;
    font-size: 35px;
    text-decoration: none;
}

.social-links a:hover {
    color: var(--main-branding-color);
    transition: 0.5s;
    border: 1px solid var(--main-branding-color);
    border-radius: 10px;
    padding: 10px 20px;
}

@media (max-width: 900px) {

    h1 {
        font-size: 70px;    
    }

    h2 {
        margin: 40px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 30px;
        margin: 20px;
        border: 0px solid transparent;
        text-decoration: underline
    }

    h5 {
        padding: 15px 2px;
    }

    footer {
        margin-top: 130px;
    }

    .hero {
        padding: 80px 0 80px 0;
        margin-top: 10px;
    }
    .hero::before {
        padding: 0;
    }

    .button-main {
        margin: auto 5px 0 90px 0;
        padding: 8px 75px;
    }

    .button-main:hover {
        padding: 9px 76px;
        }

    .presentation h1 {
        margin-top: 80px;
    }   
    .presentation-paragraph {
        margin: 35px 0;
    }    
    .presentation img {
        margin-top: 50px;
    }

    .myPicture {
        margin-top: 25px;
    }
    .carousel {
        max-width: 100%;
    }
    .content p {
        margin: 25px 10px;
    }
    .social-links a {
        font-size: 25px;
    }

    .social-links a:hover {
        padding: 10px 5px;
    }
}